<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <if condition="check_user_rule('AuthGroup/create')">
                <li class="line">line</li>
                <li><a class="add" href="{:U('AuthGroup/create')}" target="dialog"><span>添加用户组</span></a></li>
            </if>
            <if condition="check_user_rule('AuthGroup/destory')">
                <li class="line">line</li>
                <li><a class="delete" href="{:U('AuthGroup/destory')}/id/{sid_user}" target="ajaxTodo" title="确定要删除吗?"><span>删除选中用户组</span></a></li>
            </if>
            <if condition="check_user_rule('AuthGroup/edit')">
                <li class="line">line</li>
                <li><a class="edit" href="{:U('AuthGroup/edit')}/id/{sid_user}" target="dialog"><span>修改选中用户组</span></a></li>
                <li class="line">line</li>
            </if>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="75">
        <thead>
        <tr>
            <th width="80">ID号</th>
            <th width="120">用户组名</th>
            <th width="200">操作</th>
        </tr>
        </thead>
        <tbody>
        <foreach name="rows" item="vo">
            <tr target="sid_user" rel="{$vo.id}">
                <td>{$vo.id}</td>
                <td>{$vo.title}</td>
                <td>
                    <if condition="check_user_rule('AuthGroup/access')">
                        <a href="{:U('AuthGroup/access',[group_id=>$vo[id]])}" target="navTab">分配权限</a>
                    </if>
                </td>
            </tr>
        </foreach>
        </tbody>
    </table>
    <div class="panelBar">


    </div>
</div>
