<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li class="line">line</li>
            <li><a class="add" href="{:U('User/create')}" target="dialog"><span>添加管理员</span></a></li>
            <li class="line">line</li>
            <li><a class="delete" href="{:U('User/destory')}/id/{sid_user}" target="ajaxTodo" title="确定要删除吗?"><span>删除选中管理员</span></a></li>
            <li class="line">line</li>
            <li><a class="edit" href="{:U('User/edit')}/id/{sid_user}" target="dialog"><span>修改选中管理员</span></a></li>
            <li class="line">line</li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="75">
        <thead>
        <tr>
            <th width="80">ID号</th>
            <th width="120">管理员名</th>
            <th width="120">用户组</th>
            <th width="200">操作</th>
        </tr>
        </thead>
        <tbody>
        <foreach name="rows" item="vo">
            <tr target="sid_user" rel="{$vo.id}">
                <td>{$vo.id}</td>
                <td>{$vo.username}</td>
                <td></td>
                <td><a href="{:U('User/access',[pid=>$vo[id]])}" target="dialog">修改权限或密码</a> </td>
            </tr>
        </foreach>
        </tbody>
    </table>
    <div class="panelBar">


    </div>
</div>
